body{
    background-image: url("images/bg.png");
    color: inherit;
}
.jumbotron{
    background-image: url("images/bg.png");
    text-align: center;
    color: inherit;

}
.logomagic{
    height: 100px;
}
.logocasajeux{
    height: 60px;
    float: left;
}
h1{
    font-family: "Bitstream Charter";
    margin-top: 50px;
    color: white !important;
    font-weight: bold;
}
.imgcouleurs{
    height: 200px;
}
.colorname{
    background: -webkit-linear-gradient(black, grey, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-family: Menlo;
    font-weight: bold;
}
h3{
    color: white;
    font-weight: bold;

}
h2{
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

}
.imgblanc{
    height: 300px;
}
.inputcompt{
    color: black;
    text-align: center;
    width: 80px;
    height: 30px;
    border: saddlebrown double;
    border-radius: 3px;
    text-decoration: none;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    font-weight: bold;
    font-family: KacstArt;
}
.commander {
    color: black;
    text-align: center;
    height: 30px;
    margin: auto;
    border: saddlebrown double;
    margin-bottom: 10px;
    margin-top: 10px;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    font-weight: bold;
    font-family: Dingbats;
}
.commander:hover {
    border: solid 3px grey;
}
.retour{
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: saddlebrown double;
    text-decoration: none;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    font-weight: bold;
    font-family: Dingbats;
}
.retour:hover{
    text-decoration: none;
    color: black;
    border: solid 3px grey;
}
.panier{
    height: 50px;
}
.compteurpanier{
    color: yellow;
}
.panierprice{
    color: gold;
}
.totalcommande{
    color: white;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    color: white;
    font-weight: bold;
}
.supprimer{
    height: 40px;
    margin-left: 30px;
}
.titrepanier{
    background: -webkit-linear-gradient(darkgoldenrod, darkgoldenrod, gold, darkgoldenrod, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
b{
    font-size: 30px;
    background: -webkit-linear-gradient(black, grey, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.panierinfo{
    font-size: 18px !important;
    font-weight: bold !important;
    color: darkgrey;
}
.panierinfobdd{
    font-weight: bold ;
    font-size: 25px;
    color: white;
}
.stock{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.updateadmin{
    color: white;
    text-align: center;
    border: solid 3px blue;
    height: 30px;
    background: -webkit-linear-gradient(blue, black);
    font-weight: bold;
    font-family: Dingbats;

}
.updateadmin:hover {
    border: solid 3px grey;
}
.suppradmin{
    color: white;
    text-align: center;
    border: solid 3px red;
    height: 30px;
    background: -webkit-linear-gradient(red, black);
    font-weight: bold;
    font-family: Dingbats;
}
.suppradmin:hover {
    border: solid 3px grey;
}
.updatesub{
    color: white;
    border: solid 3px blue;
    height: 30px;
    background: -webkit-linear-gradient(blue, black);
    font-weight: bold;
    font-family: Dingbats;
}
.updatesub:hover {
    border: solid 3px grey;
}
.dropdown-toggle{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
.dropdown-toggle:hover{
    text-decoration: none;
}
.dropdown-menu{
    position: relative;
    background-color: inherit;
    float: inherit;
    margin-left: 30%;
    width: 40%;
}
#login-dropdown-list .dropdown-menu{
    padding: inherit;
}
.btn-primary {
    color: #122b40;
    font-weight: bold;
    border-color: #761c19;
    background: -moz-linear-gradient(#E48D00, #FCB528, yellow, yellow, #FCB528, #E48D00);

}
.btn-primary:hover {
    color: #122b40;
    border-color: white;
}
.btn-default{
    color: #F5FC13;
    font-weight: bold;
    background: -moz-linear-gradient(grey, black, darkgrey);
    border-color: black;
}
.btn-default:hover{
    color: #F5FC13;
    border-color: white;
}
.form-control{
    color: #F5FC13;
    font-weight: bold;
    background: -moz-linear-gradient(grey, black, darkgrey);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: gold;
    text-decoration: none;
}
.addsub{
    color: black;
    text-align: center;
    padding: 3px;
    border: green double;
    text-decoration: none;
    background: -webkit-linear-gradient(darkgreen, lime, lime);
    font-weight: bold;
    font-family: Dingbats;
}
.addsub:hover{
    border: solid 3px grey;
}
select {
    font-weight: bold;
    padding: 10px 40px 10px 10px;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select option {
    padding: 0 4px;
} /* for IE and Edge */
#sorting{
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: saddlebrown double;
    text-decoration: none;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    font-weight: bold;
    font-family: Dingbats;
}
#sorting:hover{
    border: solid 3px grey;
}
.searchsubmit{
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: saddlebrown double;
    text-decoration: none;
    background: -webkit-linear-gradient(darkgoldenrod, gold, darkgoldenrod);
    font-weight: bold;
    font-family: Dingbats;
}
.searchsubmit:hover{
    border: solid 3px grey;
}
.up{
    font-weight: bold;
    padding: 10px 40px 10px 10px;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
