<template name="addmulticolore">
    <div class="jumbotron">

        <form class="addformmulticolore" method="post">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <p>Name : </p> <input class="up" name="nameadd">
                    <p>Price : </p><input class="up" name="priceadd">
                    <p>Image : </p><input class="up" name="imageadd">
                    <p>Couleurs : </p> <input class="up" name="couleursadd">
                </div>
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <p>Édition : </p><input class="up" name="éditionadd">
                    <p>État : </p><input class="up" name="étatadd">
                    <p>Premium : </p> <input class="up" name="premiumadd">
                    <p>Langue : </p><input class="up" name="langueadd">
                </div>
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <p>Rareté : </p><input class="up" name="raretéadd">
                    <p>Type : </p> <input class="up" name="typeadd">
                    <p>Mana : </p><input class="up" name="manaadd">
                    <p>Stock : </p><input class="up" name="stockadd">
                </div>
            </div>
            <br>
            <input class="addsub" type="submit" name="addsub" value="Ajouter !">
            <a href=/couleurs/Multicolore class="retour">Retour</a>

        </form>


    </div>
</template>