<template name="noir">
    <div class="jumbotron">
        <div class="row">
            <img src="/images/noir.png">
        <div>{{>panier}}</div>
            <br>
            {{#if isInRole 'admin'}}
            <a href="/addnoir" class="retour">Ajouter une carte</a>
            {{/if}}
                {{#each noir}}
            <form class="formu" method="post">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h3><u>{{name}}</u></h3>
                    <h2>{{price}}€</h2>
                    <img class="imgblanc" src="/images/{{image}}"><br>
                    <span class="stock">En stock: {{stock}}</span>
                    <p class="panierinfo">État: <i class="panierinfobdd">{{état}}</i></p>
                    <p class="panierinfo">Langue: <i class="panierinfobdd">{{langue}}</i></p>
                    <p class="panierinfo">Premium: <i class="panierinfobdd">{{premium}}</i></p>
                    <input class="inputcompt" name="countitem" type="number" min="0" max="{{stock}}" value="0"><br>
                    <input class="commander" type="submit" name="commander" value="Valider !">
                    {{#if isInRole 'admin'}}
                    <input class="suppradmin" type="button" name="suppradmin" value="Supprimer">
                    <!--affiche le champ _id et le champ categorie de la fixture correspondante au template dans l'url -->
                    <a class="updateadmina" href="/update/{{_id}}/{{couleurs}}"><input class="updateadmin" type="button" name="updateadmin" value="Update"></a>
                    {{/if}}
                </div>
            </form>
                {{/each}}
                </div>
        <a href="{{pathFor route='couleurs'}}" class="retour">Continuer la commande</a>
    </div>
</template>