<template name="search">
    <form class="formtri">
        <input class="mana" value="" placeholder="Mana" />
        <input class="price" value="" placeholder="Prix" />
        <select class="rareté">
            <option value=''>Rareté</option>
            <option value="Mythique">Mythique</option>
            <option value="Rare">Rare</option>
            <option value="Unco">Unco</option>
            <option value="Commune">Commune</option>
        </select>
        <button type="submit">Submit</button>
    </form>
        {{#each results}}
        <form class="formu" method="post">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h3><u>{{name}}</u></h3>
                <h2>{{price}}€</h2>
                <img class="imgblanc" src="/images/{{image}}"><br>

                <p class="stock">En stock: {{stock}}</p>
                <p class="panierinfo">État: <i class="panierinfobdd">{{état}}</i></p>
                <p class="panierinfo">Langue: <i class="panierinfobdd">{{langue}}</i></p>
                <p class="panierinfo">Premium: <i class="panierinfobdd">{{premium}}</i></p>

                <input class="inputcompt {{_id}}" name="countitem" type="number" min="0" max="{{stock}}" value="0"><br>
                <input class="commander" type="submit" name="commander" value="Valider !">
                {{#if isInRole 'admin'}}
                <input class="suppradmin" type="button" name="suppradmin" value="Supprimer">
                <!--affiche le champ _id et le champ categorie de la fixture correspondante au template dans l'url -->
                <a class="updateadmin" href="/update/{{_id}}/{{couleurs}}"><input class="updateadmin" type="button" name="updateadmin" value="Update"></a>
                {{/if}}
            </div>
        </form>
        {{/each}}
</template>