<template name="panierlist">
    <div class="jumbotron">
        <div class="row">
                    <h1>Panier</h1>
                    {{>panier}}
                    <form class="passercommande"  method="post">
                    {{#each panierlist}}
                        <div class="col-xs-12 col-sm-12 col-md-4">
                    <p> <img class="imgfood" src="/images/{{image}}"> = {{itemprice}}€</p>
                        <input class="inputcompt {{_id}}" name="countitem" type="number" min="0" max="99" value="{{countitem}}">
                        <input class="supprimer" type="button" name="supprimer" value="Supprimer">
                    <hr>
                        </div>
                    {{/each}}
                    <p>Total de la commande <b>{{prixtotal}} €</b></p>
                    <a href="{{pathFor route='couleurs'}}" class="retour">Continuer la commande</a>
                    </form>
        </div>
    </div>
</template>